<%= form_for :dump, url: { action: "import_csv"}, html: { multipart: true} do |f| %>

     <table>

       <tr>
         <td>
           <%= label_tag  "dump_file", "Select a CSV File" %>
           </td>
         <td>
           <%= f.file_field :file %>
         </td>
       </tr>
       <tr>
         <td>
           <%= submit_tag 'Import Data' %>
         </td>
       </tr>

     </table>


<% end %>
